.topBar {
    padding: 0.75rem 1vw;
    box-shadow: none;
    display:flex;
    justify-content: space-between;
    align-items:center;
    border-bottom: solid 0px #1455B4;
}

.topBar-wrapper {
    max-width: unset;
    padding: 0;
    flex:1
}

.navIcon {
    padding: 0.25rem;
    font-size: 1rem;
    width: 32px;
    height: 32px;
    margin: 0 0.125rem;
}
.navIcon i {
    display: flex;
    justify-content: center;
}
.topBar-leftWrapper {
    flex: 0 0 auto;
}
.navigationHeader {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 5px 5px 0 0 ;
    z-index:1001;
    padding-bottom: 12px
}
.navigationHeader:after {
    display:none;
}

body.navigationTop .navigationHeader {
    position: relative;
    bottom: auto;
    left: auto;
    right: auto;
    border-radius: 0;
    z-index:1001;
    border-top: solid 1px rgba(255,255,255,0.14)
}
body.navigationTop .navigationHeader .menuItem-label {

}

body.navigationTop .navigationHeader i {
    font-size: 16px
}

.selectAppModule-wrap {
    background: none;
    border-radius: 3px;
    border:none;
    padding: 0.25rem 0rem 0.25rem ;
    color: #fff;
    position: relative;
    cursor: pointer;
    border-bottom: solid 0px #646464;
}
.selectedAppModule {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    color: #E6FAFF;
}

.selectedAppModule i {
    color: #0096FF
}
.appModuleList {
    list-style: none;
    display: inline-block;
    margin: 0;
    position: absolute;
    left: 0;
    right:0;
    top: 105%;
    z-index: 1000;
    background: #fff;
    color: #424242;
    box-shadow: -6px 14px 14px -10px rgba(0,0,0,0.12), 0 0px 1px 0px rgba(0,0,0,0.2),  6px 14px 14px -10px rgba(0,0,0,0.12);
    padding: .5rem  0.5rem;
    border-radius: 0.25rem;
    min-width: 340px;
    line-height: 125%;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out 140ms;
    transition-delay: 140ms;
    transform: scale(0.96) translateY(0.75rem) translateZ(2.5rem);
    transform-origin: top center;
}



.selectAppModule-wrap:hover .appModuleList {
    visibility: visible;
    opacity: 1;
    z-index: 100;
    transform: scale(1) translateY(0rem) translateZ(0px);
}
li.appModuleList-item {
    padding: 0.75rem 1.25rem;
    border-radius: 4px;
    transition: all ease-in-out 140ms;
}
div.appModuleList-wrap {
    display: flex;
    flex-direction: column;
}
div.appModuleList-iconLabelWrap {
    display:flex;
    align-items: center;
}
div.appModuleList-icon {
    border: solid 0px #eee;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9b9b9b;
    margin-right: 1rem;
    background: #f5f5f5;
    transition: all ease-in-out 140ms;
}
div.appModuleList-icon i {
    width:2.25rem;
    height:2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.appModuleList-headline {
    font-weight: 500;
}
div.appModuleList-headline:not(:last-child) {
    margin-bottom: 0.25rem
}
div.appModuleList-moduleDescription {
    font-size:12.5px;
    
}

.appModuleList-item:hover, .appModuleList-item.selected {
    background: #eee;
}
.appModuleList-item:hover .appModuleList-icon {
    background: #eee
}
.appModuleList-item.selected .appModuleList-icon {
    background: #424242;
    color: #fff;
    border-color: #424242
}

.secondaryActions {
    border-radius: 3px;
    position: relative;
    z-index: 200;
    background: rgba(var(--night-100),1);
}
body.navigationTop .secondaryActions {
    flex:1;
    justify-content: space-between;
    align-items: center
}
.seconaryActions-dropShadow{

    position: absolute;
    left:0.5rem;
    right:0.5rem;
    top:0;
    height: 52px;
    z-index: 199;

    box-shadow: -2px 4px 4px -2px rgba(0,0,0,0.12), 0 0px 1px 0px rgba(0,0,0,0.2), 2px 4px 4px -2px rgba(0,0,0,0.12);
}
.secondaryActions-button {
    margin: 0 0.5rem;
    border-width: 0;
    display: inline-flex;
    max-width: 100%;
    align-items: center;
    outline: none !important;
    text-align: center;
    white-space: nowrap;
    border-radius: 3px;
    box-shadow: 0 0 0 2px transparent;
    height: 2.275rem;
    line-height: 2.275rem;
    padding: 0 4px;
    -webkit-transition: background 0.07s ease-out,box-shadow 0.14s cubic-bezier(0.47,0.03,0.49,1.38);
    transition: background 0.07s ease-out,box-shadow 0.14s cubic-bezier(0.47,0.03,0.49,1.38);
    -webkit-transition-duration: 0.07s,0.14s;
    transition-duration: 0.07s,0.15s;
    vertical-align: middle;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    background: none;

}

.secondaryActions-button i:not(.fa-angle-down) {

}

.accountMenu {
    width: 32px;
    height: 32px;
    background: #006EE6;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.accountMenu .accountMenu-initials{
    font-weight: 500;
    font-size: 12px;
    color: #fff; 
    text-transform: uppercase;
    font-variant: small-caps;
    letter-spacing: 0.5px;
}

.topBar-centerWrapper {

}

.topBar-centerWrapper .search {
    min-width: 300px;
}

.topBar-centerWrapper .search .editableField {
    background: #fff;
    color: #424242;
    border-radius: 3px;
    background: rgba(131, 215, 247,0.1575);
    background-image: linear-gradient(180deg, rgba(131, 215, 247,0.0) 90%, rgba(131, 215, 247,0.0875) 100%);
    box-shadow: inset 0 0 0 0px rgba(255,255,255,0.12);
    border-radius: 5px;
    border: none;
    min-height: 2.125rem;
    min-width: 16.5rem;
    padding-left: 0.75rem;
    font-size: 0.9375rem;
    color: #fff;
    transition: all ease-in-out 70ms;
}

.topBar-centerWrapper .search .editableField[placeholder]:empty:before {
    content: attr(placeholder);
    color: #E6FAFF;
}