h1, .mui-h1 {
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 31px;
    line-height: 1.9375rem;
    font-weight: 600;
    letter-spacing: -.24px;
}

h2, .mui-h2 {
    font-size: 22px;
    font-size: 1.375rem;
    line-height:28px;
    line-height: 1.75rem;
    font-weight: 600;
    letter-spacing: .16px;
}
h3, .mui-h3 {
    font-size: 18px;
    font-size: 1.125rem;
    line-height:25px;
    line-height: 1.5625rem;
    font-weight: 600;
    letter-spacing: .24px;
}
h4, .mui-h4 {
    margin-top: 0;
    font-weight:600;
    font-size: 0.9375rem;
    letter-spacing: 0.16px;
    line-height: 1.5625rem;
}

.leadtext {
    font-size: 18px;
    font-size: 1.125rem;
    line-height:28px;
    font-weight: 400;
    letter-spacing: -.12px;
}

p, .mui-body1 {
    margin-top: 0;
    font-weight:400;
    font-size: 0.9375rem;
    letter-spacing: -0.12px;
    line-height: 1.5625rem;
}
p:last-child {
    margin-bottom: 0;
}

.fas:before, .fab:before, .far:before, .fal:before {
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

figcaption, .caption {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.16px;
    color:#616161;
    padding-bottom: 0.75rem;
    margin-bottom: 0.75rem;
    border-bottom: solid 0px #eee;
    text-align: center;
}