
@font-face {
    font-family: 'protodayswhiteboard';
    src: url('//2ttf.com/webfont/F1XbDQV22Ka/webfont.ttf') format('truetype');
}


.protodayswhiteboard,
.protodayswhiteboard  *:not(i) {
    font-family: 'protodayswhiteboard' !important;
}

/*html.protodayswhiteboard  *:not(i),
html.protodayswhiteboard  input::placeholder,
html.protodayswhiteboard .primaryActions .menuItem.active .menuItem-label {
    font-family: 'protodayswhiteboard' ;
    font-weight: normal;
    letter-spacing: -1px ;
    text-decoration: none ;
}

html.protodayswhiteboard .header *,
html.protodayswhiteboard .menuItem-label,
html.protodayswhiteboard .menuItem i,
html.protodayswhiteboard .mode-switch:not(.switch) .read-label *,
html.protodayswhiteboard .mode-switch.switch .draft-label *,
html.protodayswhiteboard .article-meta .articleMeta-stacked .button.confirm {
   ;
}
html.protodayswhiteboard .primaryActions .menuItem.active .menuItem-label{

}

html.protodayswhiteboard .topBar .search input,
html.protodayswhiteboard  input::placeholder,
html.protodayswhiteboard .header .topBar .search input:focus,
html.protodayswhiteboard .header .topBar .search input:focus::-webkit-input-placeholder {
    font-family: 'protodayswhiteboard' ;
    color: rgba(66,66,66,0.95) ;
}*/

