.modalDrawer {
    position: fixed;
    top:16px;
    left:0px;
    bottom:0;
    width: 340px;
    z-index: 1000;
    border-right: solid 0px #ddd;
    box-shadow: -4px 20px 20px -12px rgba(0,0,0,0.12), 0 0px 1px 0px rgba(0,0,0,0.33), 4px 20px 20px -12px rgba(0,0,0,0.12);
    overflow: hidden;
    opacity:0%;
    visibility: hidden;
    border-radius: 5px;
    transition: all ease-in-out 210ms;
    background: #fff;

}
.modalDrawer.open {
    top:0px;
    left:0;
    opacity:100%;
    visibility: visible;

}
.drawerHead {
    border-bottom: solid 0px #BDBDBD;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #0064D2;
    background-image: linear-gradient(270deg, #0064D2 25%, #1455B4 100%);
    color: #fff;
    height:64px;
    cursor: pointer;
}
.drawerHead .logo {
    display: flex;
    align-items:center;
}
.drawerHead .closeDrawer {
    font-size: 1.25rem;
    opacity: 0.66
}

.drawerBody {
    background-color:#fff;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 100px;
}

.drawerBody {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.drawerBody::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.drawerBody:hover .item {
    opacity: 0.66;
}
.drawerBody:hover .item:hover {
    opacity: 1;
    border-bottom:solid 1px #e0e0e0
}

.modalDrawer .item {
    font-size: 14px;
    color: #616161;
    border-bottom: dotted 1px #e0e0e0;
    line-height: 1.4;
    animation: fadeIn ease-in-out 420ms;
    cursor: pointer;
    transition: all ease-in-out 70ms;
}

.modalDrawer .item:nth-child(2) {
    border-right: solid 3px #1455B4;
    background: #fafafa
}
body.draft .modalDrawer .item:nth-child(2) {

}

.modalDrawer .item:last-child {
    border:none;
}
.moduleTitle {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 0.25rem;
    color: #424242
}

body.draft .moduleTitle i {

}

.moduleTitle:last-child {
    margin-bottom:0
}


.modalDrawer .item .headline {
    font-size: 18px;
    font-weight: 500;
}

.mobileSecondaryActions .secondaryActions {
    display: flex;
    align-items: center;
    justify-content: flex-start !important;
    font-size: 15px;
    font-weight: 400;
}
.mobileSecondaryActions .secondaryActions:hover {
    color: #006EE6;
    cursor: pointer
}

.drawerFooter {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    z-index:100;
    border-top: solid 0px #eee;
    background: #fafafa

}
.drawerFooter .item {
    color: #757575
}

.drawerBackDrop {
    transition: all ease-in-out 210ms;
    z-index: 1000;
}
.drawerBackDrop.open {
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    background: rgba(0,0,0,0.5);


}

