.content {
    max-height: 680px;
}
.contentWrapper-right {
    margin: 0 auto;
    flex: 1;
    max-width: 450px;
}
.itemWithinFolder {
    position: relative;
}
.itemWithinFolder:after {
    content:'';
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    height: 1px;
    background: rgba(0, 100, 210, 0.2);
    border-radius: 4px;
    opacity: 0;
    transition: 140ms opacity ease-in-out;
}
.itemWithinFolder.selected:after {
    opacity: 1;
}
.itemWithinFolder.selected {
    color: #0064D2;
    background: rgba(0, 100, 210, 0.1)
}
.itemWithinFolder.disabled {
    color: #0064D2;
    background: rgba(0, 100, 210, 0.1)
}
.itemWithinFolder.disabled:after {
    opacity: 0;
}

/* just for the tree in dialog prototype */
.folder.closed.activeContent:before, .folder.activeContent.marked:before {
    display:none;
}

body.markMotion .hasTransition, body.markMotion .modal-body .level-0 .hasTransition, body.markMotion .modal-body .level-1 .hasTransition, body.markMotion .modal-body .level-2 .hasTransition, body.markMotion .modal-body .level-3 .hasTransition, body.markMotion .modal-body .level-4 .hasTransition, body.markMotion .modal-body .folder .folder-title .hasTransition, body.markMotion .levitate.hasTransition, body.markMotion .ajax {
    border-bottom: solid 0px #50E3C2 !important;
}