/*!
 * Design and development of this functional prototype 7a
 * Copyright 2020 Ronny Puschmann
 * https://ronnypuschmann.de
 */

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Explorer List */
.explorer-body {
    font-size:0.875rem
}

.explorer-body .fas, .explorer-body .fab, .explorer-body .far, .explorer-body .fal {
    font-size:1rem
}

.explorer-body .fas:before, .explorer-body .fab:before, .explorer-body .far:before, .explorer-body .fal:before  {
    justify-content: flex-start;
}

.modal-body .level-0, .modal-body .level-1, .modal-body .level-2, .modal-body .level-3, .folder .folder-title {
    padding: 0.5rem 0.375rem 0.5625rem 0.75rem ;
    -webkit-animation: fadeIn ease-in-out 420ms;
    animation: fadeIn ease-in-out 420ms;
    border-radius: 3px;
    margin: 3px 0;
    background: #fafafa;
    background-image: linear-gradient(90deg, #fafafa 0%, #f5f5f5 10%);
    transition: all ease-in-out 140ms;
    border:none !important;
}

/* .modal-body .level-0:last-child:not(.active) .folder-title, .modal-body > .level-0 div:last-child {
    border:none !important;
}
*/




.folder {
    border:none !important;
    padding:0 !important;
    cursor: pointer;
    position: relative;
}

.explorer-body i {
    opacity: 0.67;
    margin-left:0.375rem;
    margin-right: 0.1875rem !important
}


.explorer-body .fa-link {
    font-size: 0.875rem;
}

.folder.active {
    background: #fff;
    border-left: solid 0px #bdbdbd !important;
    border-radius: 3px;
}

.folder-title {
    font-weight: 400;
}

.folder.active > .folder-title {
    background: #eee;
    border-bottom: solid 0px #bdbdbd;
    font-weight: 400;
}
.folder > .folder-title:hover{
    background: #eee;
    background-image: linear-gradient(90deg, #f5f5f5 0%, #eee 100%);
    border:none;
}
.itemWithinFolder:hover{
    background: #eee;
}

.folder.active > .folder-title i {
    opacity: 0.87;
}

.fas.fa-folder-open {

}

.folder.closed .level-1, .folder.closed .level-2, .folder.closed .level-3, .folder.closed .level-4 {
    display:none !important;
}

.folder.closed.active .level-1 {
    display: inherit !important;
}

.folder.closed.activeContent:before, .folder.activeContent.marked:before{
    content: '';
    position: absolute;
    left: auto;
    right: 1.0625rem;
    top:1rem;
    height: 10px;
    width: 10px;
    background-color: #006EE6;
    border-radius: 50%;
    border: solid 0px #9E9E9E;
    box-shadow: inset 0 0 0px #757575;
    z-index: 1;
}

body.draft .folder.closed.activeContent:before, body.draft .folder.activeContent.marked:before {
    background-color: #F8D955;
    box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
}

.modal-body .level-1, .modal-body .level-2, .modal-body .level-3, .modal-body .level-4 {
    margin-left:0.875rem;
}
.modal-body .level-0, .modal-body .level-1, .modal-body .level-2, .modal-body .level-3, .modal-body .level-4 {
    cursor: pointer;

}

.element.active {
    position: relative;

}
.itemWithinFolder.skeleton.loadingIndication {
    display: flex;
    background:none;
    padding: 0.875rem 0.875rem 0.875rem 0.75rem;
}

@-webkit-keyframes skeletonAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes skeletonAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.skeleton.loadingIndication .skeletonIcon {
    width: 0.75rem;
    height: 0.75rem;
    border-radius:0.1875rem;
    display:flex;
    opacity: 1;
    margin-right: 1rem !important;

    background: linear-gradient(90deg, #fafafa, #e0e0e0, #fafafa);
    background-size: 400% 800%;

    -webkit-animation: skeletonAnimation 2.5s ease-in-out infinite;
    animation: skeletonAnimation 2.5s ease-in-out infinite;
}
.skeleton.loadingIndication .skeletonTitle {
    display: flex;
    border-radius:0.1875rem;
    flex:1;

    background: linear-gradient(90deg, #fafafa, #e0e0e0, #fafafa);
    background-size: 400% 800%;

    -webkit-animation: skeletonAnimation 2.5s ease-in-out infinite;
    animation: skeletonAnimation 2.5s ease-in-out infinite;
}
