
@font-face {
    font-family: 'BLOKK';
    src: url('BLOKKNeue-Regular.eot');
    src: url('BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'),
    url('BLOKKNeue-Regular.woff2') format('woff2'),
    url('BLOKKNeue-Regular.woff') format('woff'),
    url('BLOKKNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html.blokkx  *:not(i) {
    font-family: 'BLOKK' ;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0;
    letter-spacing: 0.1px;
    color: rgba(0,0,0,0.2);
}

