/* by Ronny Puschmann */
/* orgavision branding colors */

:root {
    /* sky */
    --sky-900:20, 85, 180;
    --sky-800:0, 100, 210;
    --sky-700:0, 110, 230;
    --sky-600:0, 120, 255;
    --sky-500:0, 150, 255;
    --sky-400:0, 180, 255;
    --sky-300:80, 210, 255;
    --sky-200:160, 230, 255;
    --sky-100:200, 240, 255;
    --sky-50:230, 250, 255;
    /* night */
    --night-900:33, 33, 33;
    --night-800:66, 66, 66;
    --night-700:97, 97, 97;
    --night-600:117, 117, 117;
    --night-500:158, 158, 158;
    --night-400:189, 189, 189;
    --night-300:224, 224, 224;
    --night-200:238, 238, 238;
    --night-100:245, 245, 245;
    --night-50:250, 250, 250;
    --night-0:255,255,255;
    /* grass */
    --grass-1000:0, 102, 68;
    --grass-900:125, 161, 26;
    --grass-800:139, 179, 29;
    --grass-700:151, 187, 52;
    --grass-600:162, 194, 74;
    --grass-500:174, 202, 97;
    --grass-400:185, 209, 119;
    --grass-300:197, 217, 142;
    --grass-200:209, 225, 165;
    --grass-100:220, 232, 187;
    --grass-50:232, 240, 210;
    /* sunset */
    --sunset-1000: 230, 81, 0;
    --sunset-900:232, 135, 53;
    --sunset-800:240, 172, 67;
    --sunset-700:244, 195, 76;
    --sunset-600:248, 217, 85;
    --sunset-500:246, 231, 86;
    --sunset-400:248, 236, 109;
    --sunset-300:251, 241, 134;
    --sunset-200:252, 245, 167;
    --sunset-100:253, 249, 202;
    --sunset-50:254, 253, 233;
    /* scarlet */
    --scarlet-900:255, 51, 51;
    --scarlet-800:255, 71, 71;
    --scarlet-700:255, 92, 92;
    --scarlet-600:255, 112, 112;
    --scarlet-500:255, 133, 133;
    --scarlet-400:255, 153, 153;
    --scarlet-300:255, 173, 173;
    --scarlet-200:255, 194, 194;
    --scarlet-100:255, 214, 214;
    --scarlet-50:255, 235, 235;
    /* day */
    --day:255,255,255;
    /* mdc */
    --mdc-theme-primary: #0064D2;
    --mdc-theme-secondary: #0078FF;
    --mdc-theme-surface: #F5F5F5;
    --mdc-theme-background: #fafafa;
    --mdc-theme-on-primary: #fff;
    --mdc-theme-on-secondary: #fff;
    --mdc-theme-on-surface: #424242;
    --mdc-theme-text-primary-on-background: #212121;
    --mdc-theme-text-secondary-on-background: #424242;
    --mdc-theme-text-hint-on-background: #424242;
    --mdc-theme-text-disabled-on-background: #9E9E9E;
    --mdc-theme-text-icon-on-background: #616161;
    --mdc-theme-text-primary-on-light: #424242;
    --mdc-theme-text-secondary-on-light: #212121;
    --mdc-theme-text-hint-on-light: #616161;
    --mdc-theme-text-disabled-on-light: #616161;
    --mdc-theme-text-icon-on-light: #424242;
    --mdc-theme-text-primary-on-dark: #fff;
    --mdc-theme-text-secondary-on-dark: #fff;
    --mdc-theme-text-hint-on-dark: #ffffff66;
    --mdc-theme-text-icon-on-dark: #fff;
    --mdc-text-field-label-color: #424242;
    --mdc-text-field--label-floating: #0064D2;

}
/* FONT COLOR SKY */
.font-sky-900 {
    color: rgb(var(--sky-900));
}
.font-sky-800 {
    color: rgb(var(--sky-800));
}
.font-sky-700 {
    color: rgb(var(--sky-700));
}
.font-sky-600 {
    color: rgb(var(--sky-600));
}
.font-sky-500 {
    color: rgb(var(--sky-500));
}
.font-sky-400 {
    color: rgb(var(--sky-400));
}
.font-sky-300 {
    color: rgb(var(--sky-300));
}
.font-sky-200 {
    color: rgb(var(--sky-200));
}
.font-sky-100 {
    color: rgb(var(--sky-100));
}
.font-sky-50 {
    color: rgb(var(--sky-50));
}
/* FONT COLOR NIGHT */
.font-night-900 {
    color: rgb(var(--night-900));
}
.font-night-800 {
    color: rgb(var(--night-800));
}
.font-night-700 {
    color: rgb(var(--night-700));
}
.font-night-600 {
    color: rgb(var(--night-600));
}
.font-night-500 {
    color: rgb(var(--night-500));
}
.font-night-400 {
    color: rgb(var(--night-400));
}
.font-night-300 {
    color: rgb(var(--night-300));
}
.font-night-200 {
    color: rgb(var(--night-200));
}
.font-night-100 {
    color: rgb(var(--night-100));
}
.font-night-50 {
    color: rgb(var(--night-50));
}
/* FONT COLOR GRASS */
.font-grass-1000 {
    color: rgb(var(--grass-1000));
}
.font-grass-900 {
    color: rgb(var(--grass-900));
}
.font-grass-800 {
    color: rgb(var(--grass-800));
}
.font-grass-700 {
    color: rgb(var(--grass-700));
}
.font-grass-600 {
    color: rgb(var(--grass-600));
}
.font-grass-500 {
    color: rgb(var(--grass-500));
}
.font-grass-400 {
    color: rgb(var(--grass-400));
}
.font-grass-300 {
    color: rgb(var(--grass-300));
}
.font-grass-200 {
    color: rgb(var(--grass-200));
}
.font-grass-100 {
    color: rgb(var(--grass-100));
}
.font-grass-50 {
    color: rgb(var(--grass-50));
}
/* FONT COLOR SUNSET */
.font-sunset-1000 {
    color: rgb(var(--sunset-1000));
}
.font-sunset-900 {
    color: rgb(var(--sunset-900));
}
.font-sunset-800 {
    color: rgb(var(--sunset-800));
}
.font-sunset-700 {
    color: rgb(var(--sunset-700));
}
.font-sunset-600 {
    color: rgb(var(--sunset-600));
}
.font-sunset-500 {
    color: rgb(var(--sunset-500));
}
.font-sunset-400 {
    color: rgb(var(--sunset-400));
}
.font-sunset-300 {
    color: rgb(var(--sunset-300));
}
.font-sunset-200 {
    color: rgb(var(--sunset-200));
}
.font-sunset-100 {
    color: rgb(var(--sunset-100));
}
.font-sunset-50 {
    color: rgb(var(--sunset-50));
}
/* FONT COLOR SCARLET */
.font-scarlet-900 {
    color: rgb(var(--scarlet-900));
}
.font-scarlet-800 {
    color: rgb(var(--scarlet-800));
}
.font-scarlet-700 {
    color: rgb(var(--scarlet-700));
}
.font-scarlet-600 {
    color: rgb(var(--scarlet-600));
}
.font-scarlet-500 {
    color: rgb(var(--scarlet-500));
}
.font-scarlet-400 {
    color: rgb(var(--scarlet-400));
}
.font-scarlet-300 {
    color: rgb(var(--scarlet-300));
}
.font-scarlet-200 {
    color: rgb(var(--scarlet-200));
}
.font-scarlet-100 {
    color: rgb(var(--scarlet-100));
}
.font-scarlet-50 {
    color: rgb(var(--scarlet-50));
}
/* FONT DAY */
.font-day {
    color: rgb(var(--day));
}
/* BACKGROUND SKY */
.bg.sky-900 {
    background-color: rgb(var(--sky-900));
}
.bg.sky-800 {
    background-color: rgb(var(--sky-800));
}
.bg.sky-700 {
    background-color: rgb(var(--sky-700));
}
.bg.sky-600 {
    background-color: rgb(var(--sky-600));
}
.bg.sky-500 {
    background-color: rgb(var(--sky-500));
}
.bg.sky-400 {
    background-color: rgb(var(--sky-400));
}
.bg.sky-300 {
    background-color: rgb(var(--sky-300));
}
.bg.sky-200 {
    background-color: rgb(var(--sky-200));
}
.bg.sky-100 {
    background-color: rgb(var(--sky-100));
}
.bg.sky-50 {
    background-color: rgb(var(--sky-50));
}
/* BACKGROUND NIGHT */
.bg.night-900 {
    background-color: rgb(var(--night-900));
}
.bg.night-800 {
    background-color: rgb(var(--night-800));
}
.bg.night-700 {
    background-color: rgb(var(--night-700));
}
.bg.night-600 {
    background-color: rgb(var(--night-600));
}
.bg.night-500 {
    background-color: rgb(var(--night-500));
}
.bg.night-400 {
    background-color: rgb(var(--night-400));
}
.bg.night-300 {
    background-color: rgb(var(--night-300));
}
.bg.night-200 {
    background-color: rgb(var(--night-200));
}
.bg.night-100 {
    background-color: rgb(var(--night-100));
}
.bg.night-50 {
    background-color: rgb(var(--night-50));
}
.bg.night-0 {
    background-color: rgb(var(--night-0));
}
/* BACKGROUND GRASS */
.bg.grass-900 {
    background-color: rgb(var(--grass-900));
}
.bg.grass-800 {
    background-color: rgb(var(--grass-800));
}
.bg.grass-700 {
    background-color: rgb(var(--grass-700));
}
.bg.grass-600 {
    background-color: rgb(var(--grass-600));
}
.bg.grass-500 {
    background-color: rgb(var(--grass-500));
}
.bg.grass-400 {
    background-color: rgb(var(--grass-400));
}
.bg.grass-300 {
    background-color: rgb(var(--grass-300));
}
.bg.grass-200 {
    background-color: rgb(var(--grass-200));
}
.bg.grass-100 {
    background-color: rgb(var(--grass-100));
}
.bg.grass-50 {
    background-color: rgb(var(--grass-50));
}
/* BACKGROUND SUNSET */
.bg.sunset-900 {
    background-color: rgb(var(--sunset-900));
}
.bg.sunset-800 {
    background-color: rgb(var(--sunset-800));
}
.bg.sunset-700 {
    background-color: rgb(var(--sunset-700));
}
.bg.sunset-600 {
    background-color: rgb(var(--sunset-600));
}
.bg.sunset-500 {
    background-color: rgb(var(--sunset-500));
}
.bg.sunset-400 {
    background-color: rgb(var(--sunset-400));
}
.bg.sunset-300 {
    background-color: rgb(var(--sunset-300));
}
.bg.sunset-200 {
    background-color: rgb(var(--sunset-200));
}
.bg.sunset-100 {
    background-color: rgb(var(--sunset-100));
}
.bg.sunset-50 {
    background-color: rgb(var(--sunset-50));
}
/* BACKGROUND SCARLET */
.bg.scarlet-900 {
    background-color: rgb(var(--scarlet-900));
}
.bg.scarlet-800 {
    background-color: rgb(var(--scarlet-800));
}
.bg.scarlet-700 {
    background-color: rgb(var(--scarlet-700));
}
.bg.scarlet-600 {
    background-color: rgb(var(--scarlet-600));
}
.bg.scarlet-500 {
    background-color: rgb(var(--scarlet-500));
}
.bg.scarlet-400 {
    background-color: rgb(var(--scarlet-400));
}
.bg.scarlet-300 {
    background-color: rgb(var(--scarlet-300));
}
.bg.scarlet-200 {
    background-color: rgb(var(--scarlet-200));
}
.bg.scarlet-100 {
    background-color: rgb(var(--scarlet-100));
}
.bg.scarlet-50 {
    background-color: rgb(var(--scarlet-50));
}
/* BACKGROUND DAY */
.bg.day-900 {
    background-color: rgb(var(--day));
}
.bg-none {
    background: transparent;
    background-color: transparent;
    background-image: none;
}



/* MDC select floating label */
.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label,

    /* MDC drawer list item text */
.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic,

    /* MDC drawer list item leading icon */
.mdc-drawer .mdc-list-item--activated,

    /* MDC snackbar */
.mdc-snackbar__action:not(:disabled),

    /* MDC textfield floating label */
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label
{
    color: var(--mdc-theme-secondary); /* or primary */
}